@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root{
--orange:#ffcc9c;
--title-color:#F1B022;
--black: #000;
--text-color: #333;
--red: #e41f36;
--white: #fff;
--logo-width: 130px;
--button-color: #f49c17;
--input-focus-color:rgb(71, 188, 42);
/* Default layout */
--default-layout-header-height: 120px;
--default-layout-width: 1024px;
}
/* changer * par les balise on utilise */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
font-size: 62.5%;
}

body{
font-family: 'Roboto', sans-serif;
font-size: 1.6rem;
line-height: 1.5;
text-rendering: optimizeSpeed;
color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

li{
    list-style: none;
}
.text-center{
    text-align: center;
}

.margin-bloc{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title-block {
    font-size: 3.2rem;
    line-height: 38px;
    margin-bottom: 16px;
    margin-top: 4rem;
    text-transform: capitalize;
  }

  input:focus{
    border: 1px solid var(--input-focus-color);
  }
