.bloc-article {
    background-color: #faf2f2;
    margin-top: 7rem !important;
  margin-bottom: 7rem !important;
  }
  .article {
    margin: 3rem 0 !important;
  }
  .wrapper-photo-article {
    margin: 0!important;
    padding: 0 !important;
  }
  .margin-block {
    padding: 2rem !important;
    height: 300px;
  }
  
  .img-article {
    width: 100%;
    height: auto;
    
  }
  
  .article-text {
    padding: 2rem;
    margin-bottom: 1rem;
  }

  @media(max-width:740px){
    .wrapper{
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
  }