.ad-nav{
    height: 80px;
    width: 100%;
    background: #5eacef;
    box-shadow: 0px 5px 0px 0px rgba(176, 178, 178, 0.2);
    display: flex;
}
.nav-item{
    padding:0 4rem ;
    align-items: center;
    line-height: 80px;
  }
.nav-item:hover{
    color: var(--red);
}
.td{
    padding: 1rem 1rem 0rem 1rem;
}
.table, .td, .tr{
    border: 1px solid #333;

}
.tr{
max-height: 100px !important;

}
.table{
  margin-top: 1.5rem;
  grid-template-columns: repeat(9, 1fr) !important;
}
.ad-title {
    padding: 2.5rem 3rem;
    /* background-color: rgb(255, 230, 201); */
  }
  
  .title {
    text-transform: uppercase;
  }

  .admin-bloc{
    margin: 3rem;
  }
  .admin-title{
    /* color: green; */
    background: rgb(246, 222, 155);
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  
  .admin-title:hover{
    color: var(--red);
    background: rgb(192, 187, 187);
  }
.ad-btn{
  color: #0886f4;
}
.ad-btn:hover{
  color:var(--red);
}
.back-btn{
  padding: 0.5rem 2rem;
  /* border: 1px solid #333; */
  border-radius: 10px;
  margin-top: 2rem;
  background: #e3e2e2;
}
.btn-bloc{
  margin: 2rem auto;
}
.ad-input{
  border: 1px solid #333;
  padding: 0.5rem 1rem;
 
}
.ad-input-pd{
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  width: 60%;
 
}
.btn-envoyer{
  margin-left: 6rem;
  margin-top: 1rem;
}
.logo {
  padding-top: 1rem;
  padding-left: 1rem;
  width: var(--logo-width);
  height: auto;
  /* align-items: center; */
  line-height: 80px;
}


.td-desc, .td-usage, .td-ingredients{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
overflow: hidden;
}

.input-product{
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.wp-form{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}