.connect-form{
  padding: 5rem;
  display: block;
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;

}
.contact-icon {
  font-size: 3rem;
  color: rgb(62, 211, 186);
}

.contact-form {
  width: 80%;
  margin: 4rem auto;
}
.title-form {
  display: block;
  margin: 8rem 4rem 0 0;
  font-size: 3rem;
  color: rgb(241, 176, 34);
}
.label {
  display: block;
  padding-left: 2rem;
}
.contact-info{
    margin: 1rem 0;
    display: block;
}
.contact-input, .contact-name{
  width: 90%;
  margin: 0.5rem 2rem;
}
.contact-name{
  margin-right: 0.5rem;
}
/* .ct-lastName{
  width: 95%;
  margin: 0.5rem 3rem;
} */
.name {
  width: 90%;
  margin: 0.5rem auto !important;
  display: flex;
  justify-content: space-between !important;

}
.contact-input,
.lastName,
.firstName {
  border: 1px solid rgb(77, 72, 72);
  padding: 10px 20px;
  border-radius: 5px;
}




.label-name {
  display: block;
  margin: 0.5rem;
  /* margin-left: 1rem; */
}
.lastName{
  width: 90%;
  display: flex;
  justify-content: start;
}
/* .label-lastName{
  margin: -20px;
} */
.firstName {
  width: 90%;
  display: flex;
  margin-left: auto;
}
.success-message{
  color: rgb(26, 152, 17);
}
.wp-connection{
  border-right: 1px solid #d6d0d0;
}

.sub-title{
  font-size: 1.6rem;
  font-weight: 400;
}
.title{
  font-size: 2.3rem;
  color: var(--title-color);
}

.title-2{
 margin: 13.4px;;
}
.btn{
  margin: 3rem 2rem 2rem;
}
.label-connection{
  text-align: left;
  margin-left: 4rem !important;
  margin-top: 2rem;
}

.connection-input{
  width: 80% !important;
}

.wp-create-user{
  margin-top: 6rem;
}
.error-message{
  color: var(--red);
  display: block;
  text-align: right;
  margin-right: 5rem;
  font-size: 1.5rem;

}

@media(max-width:740px){
  .lastName,
.firstName {
  width: 100%;
  margin: 0 !important;

}
/* .label-name{
  margin-left: -20px !important;
} */
}