/* ---------breadcrumbs-nav----- */
.breadcrumbs-nav{
    margin: 2rem 0;
    display: block;
}
.breadcrumbs{
    display: flex;
}

.breadcrumbs-icon{
    margin: 0 2rem;
}

.breadcrumbs-item:hover .breadcrumbs-link {
    color: var(--red);
}
/* ---------product---------- */
.wp-product{
   min-height: 400px;
   margin: 2rem 0 !important;

   /* background: #000; */
}
.wp-img-product{
    text-align: center;
}
.img-product{
    max-width: 400px;
    margin: 0 auto;
}
.wp-desc-product{
    margin: 4rem 0;
}

.info-product{
    margin: 4rem 0 !important;
    color:#F1B022;
}
.hr{
    margin-top: 3rem;
}

@media (max-width: 1024px){
  

}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px){
  
}

/* Mobile */
@media(max-width:740px){
    .wrapper{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}