/* ---------breadcrumbs-nav----- */
.breadcrumbs-nav{
    margin: 2rem 0;
    display: block;
}
.breadcrumbs{
    display: flex;
}

.breadcrumbs-icon{
    margin: 0 2rem;
}

.breadcrumbs-item:hover .breadcrumbs-link {
    color: var(--red);
}
/* ---------product---------- */
.wp-product{
   max-height: 400px;
   margin: 4rem 0 !important;

   /* background: #000; */
}
.wp-img-product{
    text-align: center;
}
.img-product{
    max-width: 400px;
    margin: 0 auto;
}
.wp-desc-product{
    margin: 4rem 0;
}

.info-product{
    margin: 4rem 0 !important;
    color:#F1B022;
}
.hr{
    margin-top: 3rem;
}

/* .title-info-product{
    font-size: 3.2rem;
    line-height: 38px;
    margin-bottom: 16px;
    margin-top: 4rem;
    text-transform: capitalize;
} */